{% extends "ManhattanConsoleBundle::layout.html.twig" %}

{% block title %}Manhattan Console{% endblock %}

{% block headline %}<span>Manhattan:</span> {% block subheadline %}Content{% endblock %}{% endblock %}