services:
    # Doctrine Extension listeners to handle behaviors
    gedmo.listener.tree:
        class: Gedmo\Tree\TreeListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ @annotation_reader ] ]

    gedmo.listener.sluggable:
        class: Gedmo\Sluggable\SluggableListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ @annotation_reader ] ]

    agb_console_bundle.configure_menu_listener:
        class: AGB\Bundle\ContentBundle\EventListener\ConfigureMenuListener
        tags:
          - { name: kernel.event_listener, event: manhattan_console_bundle.menu_configure, method: onMenuConfigure }
