{% extends "ManhattanContentBundle::layout.html.twig" %}

{% block content %}

{{ tree|striptags('<p><span><a><i><strong><em><ul><ol><li><h3><h4><h5><h6>')|raw  }}

<a href="{{ path('console_content_new') }}"  class="btn primary">Create a new page</a>
{% endblock %}
